/*подключить шрифт!*/
/*@import('./fonts/IrinaCTT.ttf')*/
/*@import url('../fonts/IrinaCTT.ttf');*/


@font-face {
  font-family: 'Comix';
  src: url('../fonts/IrinaCTT.ttf')  format('truetype'), /* Safari, Android, iOS */
      url('../fonts/IrinaCTT.woff') format('woff'), /* Pretty Modern Browsers */
      url('../fonts/IrinaCTT.woff2') format('woff2');  /* Super Modern Browsers */
}

body {
  font-family: 'Comix', sans-serif;
}
