/*подключить шрифт!*/
/*@import('./fonts/IrinaCTT.ttf')*/
/*@import url('../fonts/IrinaCTT.ttf');*/


@font-face {
  font-family: 'Comix';
  src: url('../fonts/IrinaCTT.ttf')  format('truetype'), /* Safari, Android, iOS */
      url('../fonts/IrinaCTT.woff') format('woff'), /* Pretty Modern Browsers */
      url('../fonts/IrinaCTT.woff2') format('woff2');  /* Super Modern Browsers */
}

html {
  min-height: 100%;
}

body {
  font-family: 'Comix', sans-serif;
  font-weight: 100;
  background-color: #ccc;
  /*color: #fefefe;*/
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /*min-height: 100%;*/
}
/*
.container {
  display: flex;
  flex-direction: column;
}*/

.row {
  background-size: cover;
  margin-top: 5px;
  margin-bottom: 5px;
  /*min-height: 25rem;*/

  /*object-fit: cover;*/
}

.wrap {
  border-width: 5px;
  border: solid;
  border-color: #222;
}


.remark {
  background: #f9f880;
  border-width: 3px;
  border-style: solid;
  border-color: black;
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  position: absolute;
}
/*
.hero {
  display: block;
  position: absolute;
}*/

.bubble {
  background-color: #fff;
  border-radius: 6px;
  border-style: solid;
  border-width: 1px;
  border-color: #000;
  display: inline-block;
  padding: 10px 5px 0;
  /*vertical-align: middle;*/
  position: absolute;

}

.bubble:after
{
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 15px 15px 0;
  border-color: #FFFFFF transparent;
  display: block;
  width: 0;
  z-index: 1;
  bottom: -15px;
  left: 42px;
}

.bubble:before
{
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 15px 15px 0;
  /*border-color: #000 transparent;*/
  border-color: transparent;
  display: block;
  width: 0;
  z-index: 0;
  bottom: -16px;
  left: 1
