.Bubble {
  position: relative;
  width: 250px;
  height: 120px;
  padding: 0px;
  background: #FFFFFF;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

/*выносим "общий множитель"*/

.Bubble::after {
  content: '';
  position: absolute;
  border-style: solid;
  display: block;
  width: 0;
  z-index: 1;
}

/*базовые расположения*/

.top::after {
  border-width: 0 15px 15px;
  border-color: #FFFFFF transparent;
  top: -15px;
  left: 110px;
}

.right::after {
  border-width: 15px 0 15px 15px;
  border-color: transparent #FFFFFF;
  right: -15px;
  top: 45px;
}

.bottom::after {
  border-width: 15px 15px 0;
  border-color: #FFFFFF transparent;
  bottom: -15px;
  left: 110px;
}

.left::after {
  border-width: 15px 15px 15px 0;
  border-color: transparent #FFFFFF;
  left: -15px;
  top: 45px;
}

/*комбо расположения говорящего*/

.topRight::after {
  border-width: 0 15px 15px;
  border-color: #FFFFFF transparent;
  top: -15px;
  left: 197px;
}

.topLeft::after {
  border-width: 0 15px 15px;
  border-color: #FFFFFF transparent;
  top: -15px;
  left: 22px;
}

.rightTop::after {
  border-width: 15px 0 15px 15px;
  border-color: transparent #FFFFFF;
  right: -15px;
  top: 15px;
}

.rightBottom::after {
  border-width: 15px 0 15px 15px;
  border-color: transparent #FFFFFF;
  right: -15px;
  top: 74px;
}

.bottomRight::after {
  border-width: 15px 15px 0;
  border-color: #FFFFFF transparent;
  bottom: -15px;
  left: 197px;
}

.bottomLeft::after {
  border-width: 15px 15px 0;
  border-color: #FFFFFF transparent;
  bottom: -15px;
  left: 22px;
}

.leftTop::after {
  border-width: 15px 15px 15px 0;
  border-color: transparent #FFFFFF;
  left: -15px;
  top: 15px;
}

.leftBottom::after {
  border-width: 15px 15px 15px 0;
  border-color: transparent #FFFFFF;
  left: -15px;
  top: 74px;
}
