.Bubble {

  background-color: #fff;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-style: solid;
  border-width: 1px;
  border-color: #000;
  display: inline-block;
  padding: 10px 5px;
  position: absolute;

  /*width: 250px;
  height: 120px;*/
}

/*выносим "общий множитель"*/

.Bubble::after {
  content: '';
  position: absolute;
  border-style: solid;
  display: block;
  width: 0;
  z-index: 1;
}

/*базовые расположения*/

.top::after {
  border-width: 0 15px 15px;
  border-color: #FFFFFF transparent;
  top: -15px;
  /*left: 110px;*/
  left: 35%;
}

.right::after {
  border-width: 15px 0 15px 15px;
  border-color: transparent #FFFFFF;
  right: -15px;
  /*top: 45px;*/
  top: 15%;
}

.bottom::after {
  border-width: 15px 15px 0;
  border-color: #FFFFFF transparent;
  bottom: -15px;
  /*left: 110px;*/
  left: 33%;
}

.left::after {
  border-width: 15px 15px 15px 0;
  border-color: transparent #FFFFFF;
  left: -15px;
  /*top: 45px;*/
  top: 15%;
}

/*комбо расположения говорящего*/

.topRight::after {
  border-width: 0 15px 15px;
  border-color: #FFFFFF transparent;
  top: -15px;
  /*left: 197px;*/
  left: 50%;
}

.topLeft::after {
  border-width: 0 15px 15px;
  border-color: #FFFFFF transparent;
  top: -15px;
  left: 22px;
}

.rightTop::after {
  border-width: 15px 0 15px 15px;
  border-color: transparent #FFFFFF;
  right: -15px;
  top: 15px;
}

.rightBottom::after {
  border-width: 15px 0 15px 15px;
  border-color: transparent #FFFFFF;
  right: -15px;
  top: 74px;
}

.bottomRight::after {
  border-width: 15px 15px 0;
  border-color: #FFFFFF transparent;
  bottom: -15px;
  left: 197px;
}

.bottomLeft::after {
  border-width: 15px 15px 0;
  border-color: #FFFFFF transparent;
  bottom: -15px;
  left: 22px;
}

.leftTop::after {
  border-width: 15px 15px 15px 0;
  border-color: transparent #FFFFFF;
  left: -15px;
  top: 15px;
}

.leftBottom::after {
  border-width: 15px 15px 15px 0;
  border-color: transparent #FFFFFF;
  left: -15px;
  top: 15%;
}
