@import url('&General/_vars.css');
/*@import url('../_vars.css');*/
@font-face {
  font-family: 'Comix';
  src: url('./fonts/IrinaCTT.ttf')  format('truetype'), /* Safari, Android, iOS */
      url('./fonts/IrinaCTT.woff') format('woff'), /* Pretty Modern Browsers */
      url('./fonts/IrinaCTT.woff2') format('woff2');  /* Super Modern Browsers */
}

.Comix {
  /*height: 100%;
  box-sizing: border-box;*/
  font-family: 'Comix', sans-serif;
}
